@model Dinaf.Sismo.Models.NnaEstadoAdoptabilidadViewModel

@{
}
<section class="section profile">
    
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="~/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <h2>@Model.Expediente.Persona.NombreCorto</h2>
                    <h3>Ingeniero de Sofware</h3>
                    <div class="social-links mt-2">
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nombre Completo</b></div>
                            <div class="col-lg-12 col-md-8">@Model.Expediente.Persona.Nombre</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>identidad</b></div>
                            <div class="col-lg-12 col-md-8">0801-1977-07557</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Fecha de Nacimiento</b></div>
                            <div class="col-lg-12 col-md-8">@Model.Expediente.Persona.FechaNacimiento</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Edad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.Expediente.Persona.Edad Años</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nacionalidad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.Expediente.Persona.Nacionalidad</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Genero</b></div>
                            <div class="col-lg-12 col-md-8">@Model.Expediente.Persona.Genero</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Telefono</b></div>
                            <div class="col-lg-12 col-md-8">(+504)9999-9999</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Email</b></div>
                            <div class="col-lg-12 col-md-8">CarlosG@hotmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Información General</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Vulneraciones</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-protection">Medidas de Protección</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Familia</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-match">Emparejamiento</button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.Expediente.NumeroExpediente</span>
                            </p>
                            <h5 class="card-title">Detalles</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ciudad</div>
                                <div class="col-lg-9 col-md-8">Tegucigalpa</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Domicilio Actual</div>
                                <div class="col-lg-9 col-md-8">Villa Olimpica Sector 3, casa 14</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Educacion</div>
                                <div class="col-lg-9 col-md-8">Educación superior</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Raza</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                          <option selected>seleccione una opción</option>
                                          <option value="1">Mestizo</option>
                                          <option value="2">Indigena</option>
                                          <option value="3">Afrodescendiente</option>
                                          <option value="4">Blanco</option>
                                          <option value="5">Asiatico</option>
                                        </select>              
                                    </div>
                                    @Model.Expediente.Persona.Raza
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Color de Cabello</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                          <option selected>seleccione una opción</option>
                                          <option value="1">Cabello Negro</option>
                                          <option value="2">Cabello Castaño</option>
                                          <option value="3">Cabello Rubio</option>
                                          <option value="4">Cabello Pelirrojo</option>
                                        </select>
                                    </div>
                                    @Model.Expediente.Persona.ColorCabello
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Color de Piel</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                          <option selected>seleccione una opción</option>
                                          <option value="1">Piel Clara</option>
                                          <option value="2">Piel Oscura</option>
                                          <option value="3">Piel Intermedia</option>
                                        </select>
                                    </div>
                                    @Model.Expediente.Persona.ColorPiel
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Color de Ojos</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                          <option selected>seleccione una opción</option>
                                          <option value="1">Ojos Color Café</option>
                                          <option value="2">Ojos color Ámbar</option>
                                          <option value="3">Ojos color Avellana</option>
                                          <option value="4">Ojos color Verde</option>
                                          <option value="5">Ojos color Azul</option>
                                          <option value="6">Otro</option>
                                        </select>
                                    </div>
                                    @Model.Expediente.Persona.ColorOjos
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm a">Guardar</button>
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.Expediente.NumeroExpediente</span>
                            </p>
                            <!-- Default Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fecha de Creacion</th>
                                                <th scope="col">Remitente</th>
                                                <th scope="col">Tipo Vulneración</th>
                                                <th scope="col">Sub-Tipo Vulneración</th>
                                                <th scope="col">Articulo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var vulneraciones in Model.Vulneraciones.Vulneraciones)
                                            {
                                                <tr>
                                                    <th>@vulneraciones.FechaCreacion</th>
                                                    <td>@vulneraciones.UsuarioRemitente</td>
                                                    <td>@vulneraciones.TipoVulneracion</td>
                                                    <td>@vulneraciones.SubTipoVulneracion</td>
                                                    <td>@vulneraciones.Articulo</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-protection">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.Expediente.NumeroExpediente</span>
                            </p>
                            <br />
                            <!-- Default Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Custodio</th>
                                                <th scope="col">Fecha Inicio</th>
                                                <th scope="col">Referencias</th>
                                                <th scope="col">Remitente</th>
                                                <th scope="col">Gestion</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Unidad Remitente</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var seguimiento in Model.MedidasProteccion.Seguimientos)
                                            {
                                                <tr>
                                                    <td>@seguimiento.TipoCustodio</td>
                                                    <td>@seguimiento.FechaInicio</td>
                                                    <td>@seguimiento.Referencias</td>
                                                    <td>@seguimiento.UsuarioRemitente</td>
                                                    <td>@seguimiento.TipoGestion</td>
                                                    <td>@seguimiento.Estado</td>
                                                    <td>@seguimiento.UnidadRemitente</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="profile-settings">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.Expediente.NumeroExpediente</span>
                            </p>
                            <p class="small fst-italic">@Model.Expediente.NumeroExpediente</p>
                        </div>
                        <div class="tab-pane fade pt-3" id="profile-match">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.Expediente.NumeroExpediente</span>
                            </p>
                            <p class="small fst-italic">@Model.Expediente.NumeroExpediente</p>
                            <!-- Card with an image on left -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                <div class="col-md-2">
                                    <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        
                                        <p>
                                            <span class="badge rounded-pill bg-success">85% coincidencias</span>
                                        </p>
                                        <p>
                                            <!-- Vertical Pills Tabs -->
                                          <div class="d-flex align-items-start">
                                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Caracteristicas</button>
                                              <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Emparejar</button>
                                            </div>
                                            <div class="tab-content" id="v-pills-tabContent">
                                              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                  <!-- List group with active and disabled items -->
                                                  <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Nombre: Juan Canales</li>
                                                    <li class="list-group-item">Edad: 30 años</li>
                                                    <li class="list-group-item">Hondureña</li>
                                                  </ul><!-- End Clean list group -->
                                              </div>
                                              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                    <!-- List group with active and disabled items -->
                                                  <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Color de Ojos: </li>
                                                    <li class="list-group-item">Color de Piel: </li>
                                                    <li class="list-group-item">Color de cabello: </li>
                                                  </ul><!-- End Clean list group -->                                              </div>
                                              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                  <a href="@Url.Action("CreatePreEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-primary">Pre Emparejamiento</a>                                              </div>
                                            </div>
                                          </div>
                                          <!-- End Vertical Pills Tabs -->
                                        </p>
                                        
                                    </div>
                                </div>
                                </div>
                          </div><!-- End Card with an image on left -->
                          <!-- Card with an image on left -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                <div class="col-md-2">
                                    <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p>
                                            <span class="badge rounded-pill bg-warning text-dark">70% Coincidencias</span>
                                        </p>
                                        <p>
                                            <!-- Vertical Pills Tabs -->
                                          <div class="d-flex align-items-start">
                                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home1" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile1" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Caracteristicas</button>
                                              <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages1" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Emparejar</button>
                                            </div>
                                            <div class="tab-content" id="v-pills-tabContent">
                                              <div class="tab-pane fade show active" id="v-pills-home1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                  <!-- List group with active and disabled items -->
                                                  <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Nombre: Jamye Ponce</li>
                                                    <li class="list-group-item">Edad: 28 años</li>
                                                    <li class="list-group-item">Hondureña</li>
                                                  </ul><!-- End Clean list group -->
                                              </div>
                                              <div class="tab-pane fade" id="v-pills-profile1" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                    <!-- List group with active and disabled items -->
                                                  <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Color de Ojos: </li>
                                                    <li class="list-group-item">Color de Piel: </li>
                                                    <li class="list-group-item">Color de cabello: </li>
                                                  </ul><!-- End Clean list group -->                                              </div>
                                              <div class="tab-pane fade" id="v-pills-messages1" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                    <a href="@Url.Action("CreatePreEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-primary">Pre Emparejamiento</a>                                              
                                              </div>
                                            </div>
                                          </div>
                                          <!-- End Vertical Pills Tabs -->
                                        </p>
                                        
                                    </div>
                                </div>
                                </div>
                          </div><!-- End Card with an image on left -->
                          <!-- Card with an image on left -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                <div class="col-md-2">
                                    <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        
                                        <p>
                                            <span class="badge rounded-pill bg-danger">60% Coincidencias</span>
                                        </p>
                                        <p>
                                            <!-- Vertical Pills Tabs -->
                                          <div class="d-flex align-items-start">
                                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                              <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home2" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Caracteristicas</button>
                                              <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages2" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Emparejar</button>
                                            </div>
                                            <div class="tab-content" id="v-pills-tabContent">
                                              <div class="tab-pane fade show active" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                  <!-- List group with active and disabled items -->
                                                  <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Nombre: Alex Games</li>
                                                    <li class="list-group-item">Edad: 28 años</li>
                                                    <li class="list-group-item">Hondureña</li>
                                                  </ul><!-- End Clean list group -->
                                              </div>
                                              <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                    <!-- List group with active and disabled items -->
                                                  <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Color de Ojos: </li>
                                                    <li class="list-group-item">Color de Piel: </li>
                                                    <li class="list-group-item">Color de cabello: </li>
                                                  </ul><!-- End Clean list group -->                                              </div>
                                              <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                    <a href="@Url.Action("CreatePreEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-primary">Pre Emparejamiento</a>                                         
                                              </div>
                                            </div>
                                          </div>
                                          <!-- End Vertical Pills Tabs -->
                                        </p>
                                        
                                    </div>
                                </div>
                                </div>
                          </div><!-- End Card with an image on left -->                             
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>