@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
            <div class="card-body">
              <p><span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. DINAF-2018-11</span></p> 
              <!-- Card with an image on left -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-1">
                <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Juan Miguel Canales</h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label "><strong>Estado:</strong> Adoptado</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-10 col-md-10 label "><strong>Adoptante:</strong> Kevin Josue Anderson</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-10 col-md-10 label"><strong>Adoptante:</strong> Jamye Sabrina Canales</div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Asunto</th>
                    <th scope="col">Responsable</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <th><a href="@Url.Action("DetalleEvento", "ConsolidacionFamiliar")">2016-05-25</a></th>
                       <td>Encuentro</td>
                      <td>Brandon Jacob</td>
                  </tr>
                  <tr>
                      <th><a href="@Url.Action("DetalleEvento", "ConsolidacionFamiliar")">2014-12-05</a></th>
                      <td>Encuentro</td>
                      <td>Bridie Kessler</td>
                  </tr>
                  <tr>
                      <th><a href="@Url.Action("DetalleEvento", "ConsolidacionFamiliar")">2011-08-12</a></th>
                      <td>Encuentro</td>
                      <td>Ashleigh Langosh</td>                    
                  </tr>
                  <tr>
                      <th><a href="@Url.Action("DetalleEvento", "ConsolidacionFamiliar")">2012-06-11</a></th>
                      <td>Encuentro</td>
                      <td>Angus Grady</td>
                  </tr>
                  <tr>
                      <th><a href="@Url.Action("DetalleEvento", "ConsolidacionFamiliar")">2011-04-19</a></th>
                      <td>Sentencia de Adopcion</td>
                      <td>Raheem Lehner</td>
                  </tr>
                  <tr>
                      <th><a href="@Url.Action("DetalleEvento", "ConsolidacionFamiliar")">2014-12-05</a></th>
                      <td>Entrega Definitiva</td>
                      <td>Bridie Kessler</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Default Table Example -->
              <a href="@Url.Action("CrearEvento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Agregar Evento</a>
            </div>
          </div>