
<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Numero de Expediente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Creado por:</th>
        </tr>
    </thead>
    <tbody>
@*        @foreach (var expediente in Model.Expedientes)
        {
        <tr>
            <td><a href="@Url.Action("DetalleNnaEstadoAdoptabilidad", "ConsolidacionFamiliar", new { id = expediente.Id })">@expediente.NumeroExpediente</a></td>
            <td>@</td>
            <td>@</td>
            <td>@</td>
        </tr>
        }*@
        <tr>
            <th><a href="@Url.Action("DetalleEmparejamiento", "ConsolidacionFamiliar")">Exp-DINAF-2018-8</a></th>
            <td>Brandon Jacob</td>
            <td>Adoptable</td>
            <td>Valeria Ponce</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("DetalleEmparejamiento", "ConsolidacionFamiliar")">Denuncia-ORA-7</a></th>
            <td>Bridie Kessler</td>
            <td>Adoptable</td>
            <td>Eduardo Canales</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("DetalleEmparejamiento", "ConsolidacionFamiliar")">Solicitud-ORA-13</a></th>
            <td>Ashleigh Langosh</td>
            <td>Adoptable</td>
            <td>Marvin Zapata</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("DetalleEmparejamiento", "ConsolidacionFamiliar")">Exp-DINAF-2018-8</a></th>
            <td>Angus Grady</td>
            <td>Adoptable</td>
            <td>Leonel Doblado</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("DetalleEmparejamiento", "ConsolidacionFamiliar")">Denuncia-ORA-7</a></th>
            <td>Raheem Lehner</td>
            <td>Adoptable</td>
            <td>Denis Diaz</td>
        </tr>
    </tbody>
</table>