@model List<Dinaf.Sismo.Application.ConsolidacionFamiliar.ExpedientesNna.DTOs.ExpedienteNnaDto>

@{
    ViewBag.tittle = "Dashboard";
}
<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Numero de Expediente</th>
            <th scope="col">Nombre</th>
            <th scope="col">Genero</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha Creación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expediente in Model)
        {
        <tr>
            <td><a href="@Url.Action("DetalleNnaEstadoAdoptabilidad", "ConsolidacionFamiliar", new { id = @expediente.NumeroExpediente })">@expediente.NumeroExpediente</a></td>
            <td>@expediente.DetalleNna.Nombre</td>
            <td>@expediente.DetalleNna.Genero</td>
            <td>@expediente.DetalleNna.Edad</td>
            <td>@expediente.FechaCreacion</td>
        </tr>
        }
    </tbody>
</table>