@model Dinaf.Sismo.Models.ExpedienteNnaViewModel

@{
    ViewBag.title = $"Detalle de NNA en Estado de Adoptabilidad";
}
<section class="section profile">

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="~/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <button onclick="showAsReservation('@Url.Action("Index" , "Camara")'); return false;">Agregar Foto</button>
                    <h2>@Model.ExpedienteNna.DetalleNna.NombreCorto</h2>
                    <h3>@Model.ExpedienteNna.DetalleNna.Ocupacion</h3>
                    <div class="social-links mt-2">
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nombre Completo</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.Nombre</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>identidad</b></div>
                            <div class="col-lg-12 col-md-8">0801-1977-07557</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Fecha de Nacimiento</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.FechaNacimiento</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Edad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.Edad Años</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nacionalidad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.Nacionalidad</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Genero</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.Genero</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Telefono</b></div>
                            <div class="col-lg-12 col-md-8">(+504)9999-9999</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Email</b></div>
                            <div class="col-lg-12 col-md-8">CarlosG@hotmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Información General</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Vulneraciones</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-protection">Medidas de Protección</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Nucleo Familiar</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-match">Emparejamiento</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Historico">Historico</button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.ExpedienteNna.NumeroExpediente</span>
                            </p>
                            <h5 class="card-title">Detalles</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Oficial Jurídico</div>
                                <div class="col-lg-9 col-md-8">Carlos Garcia Bustillo</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ciudad</div>
                                <div class="col-lg-9 col-md-8">Tegucigalpa</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Oficina Regional</div>
                                <div class="col-lg-9 col-md-8">Nombre de la oficina regional</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Medida de Protección</div>
                                <div class="col-lg-9 col-md-8">@(Model.MedidasProteccion.FirstOrDefault() is null ? string.Empty : Model.MedidasProteccion.First().TipoGestion)</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Creación del Expediente</div>
                                <div class="col-lg-9 col-md-8">@Model.ExpedienteNna.FechaCreacion</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Educacion</div>
                                <div class="col-lg-9 col-md-8">Educación superior</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Hermanos</div>
                                <div class="col-lg-9 col-md-8">Cantidad de hermanos</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Raza</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>seleccione una opción</option>
                                            <option value="1">Mestizo</option>
                                            <option value="2">Indigena</option>
                                            <option value="3">Afrodescendiente</option>
                                            <option value="4">Blanco</option>
                                            <option value="5">Asiatico</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Color de Cabello</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>seleccione una opción</option>
                                            <option value="1">Cabello Negro</option>
                                            <option value="2">Cabello Castaño</option>
                                            <option value="3">Cabello Rubio</option>
                                            <option value="4">Cabello Pelirrojo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Color de Piel</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>seleccione una opción</option>
                                            <option value="1">Piel Clara</option>
                                            <option value="2">Piel Oscura</option>
                                            <option value="3">Piel Intermedia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Color de Ojos</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>seleccione una opción</option>
                                            <option value="1">Ojos Color Café</option>
                                            <option value="2">Ojos color Ámbar</option>
                                            <option value="3">Ojos color Avellana</option>
                                            <option value="4">Ojos color Verde</option>
                                            <option value="5">Ojos color Azul</option>
                                            <option value="6">Otro</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Condicion Medica</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>seleccione una opción</option>
                                            @foreach (var CondicionMedica in Model.CondicionesMedicas)
                                            {
                                                <option value="@CondicionMedica.Id">@CondicionMedica.Descripcion</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Condicion especifica</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>seleccione una opción</option>
                                            <option value="1">Opcion 1</option>
                                            <option value="2">Opcion 2</option>
                                            <option value="3">Opcion 3</option>
                                            <option value="4">Opcion 4</option>
                                            <option value="5">Opcion 5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Descripcion Condicion Medica</div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="col-sm-4">
                                        <textarea></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Guardar</button>
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <!-- Default Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fecha de Creacion</th>
                                                <th scope="col">Tipo Vulneración</th>
                                                <th scope="col">Sub-Tipo Vulneración</th>
                                                <th scope="col">Articulo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var vulneracion in Model.Vulneraciones)
                                            {
                                                <tr>
                                                    <th>@vulneracion.FechaCreacion</th>
                                                    <td>@vulneracion.TipoVulneracion</td>
                                                    <td>@vulneracion.SubTipoVulneracion</td>
                                                    <td>@vulneracion.Articulo</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-protection">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <br />
                            <!-- Default Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Custodio</th>
                                                <th scope="col">Fecha Inicio</th>
                                                <th scope="col">Referencias</th>
                                                <th scope="col">Gestion</th>
                                                <th scope="col">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var medidaProteccion in Model.MedidasProteccion)
                                            {
                                                <tr>
                                                    <td>@medidaProteccion.TipoCustodio</td>
                                                    <td>@medidaProteccion.FechaInicio</td>
                                                    <td>@medidaProteccion.Referencias</td>
                                                    <td>@medidaProteccion.TipoGestion</td>
                                                    <td>@medidaProteccion.Estado</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="profile-settings">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <!-- Default Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Edad</th>
                                        <th scope="col">Parentesco</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var familiar in Model.ExpedienteNna.Familiares)
                                    {
                                        <tr>
                                            <td>@familiar.NombreCorto</td>
                                            <td>@familiar.Edad</td>
                                            <td>@familiar.Relacion</td>
                                            <td>@familiar.Estado</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- End Default Table Example -->
                        </div>
                        <div class="tab-pane fade pt-3" id="profile-match">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <!-- Card with an image on left -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <span class="badge rounded-pill bg-success">85% coincidencias</span>
                                            <div class="row mt-2">
                                                <div class="col-8">
                                                    <!-- Vertical Pills Tabs -->
                                                    <div class="d-flex align-items-start">
                                                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Caracteristicas</button>
                                                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Emparejar</button>
                                                        </div>
                                                        <div class="tab-content" id="v-pills-tabContent">
                                                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                <!-- List group with active and disabled items -->
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">Nombre: Juan Canales</li>
                                                                    <li class="list-group-item">Edad: 30 años</li>
                                                                    <li class="list-group-item">Hondureña</li>
                                                                </ul><!-- End Clean list group -->
                                                            </div>
                                                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                                <!-- List group with active and disabled items -->
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">Color de Ojos: </li>
                                                                    <li class="list-group-item">Color de Piel: </li>
                                                                    <li class="list-group-item">Color de cabello: </li>
                                                                </ul><!-- End Clean list group -->
                                                            </div>
                                                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                                <a href="@Url.Action("CrearEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Vertical Pills Tabs -->
                                                </div>
                                                <div class="col-4">
                                                    <br />
                                                    <a href="@Url.Action("CrearEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Card with an image on left -->
                            <!-- Card with an image on left -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <span class="badge rounded-pill bg-warning text-dark">70% Coincidencias</span>
                                            <div class="row mt-2">
                                                <div class="col-8">
                                                    <!-- Vertical Pills Tabs -->
                                                    <div class="d-flex align-items-start">
                                                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home1" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile1" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Caracteristicas</button>
                                                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages1" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Emparejar</button>
                                                        </div>
                                                        <div class="tab-content" id="v-pills-tabContent">
                                                            <div class="tab-pane fade show active" id="v-pills-home1" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                <!-- List group with active and disabled items -->
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">Nombre: Jamye Ponce</li>
                                                                    <li class="list-group-item">Edad: 28 años</li>
                                                                    <li class="list-group-item">Hondureña</li>
                                                                </ul><!-- End Clean list group -->
                                                            </div>
                                                            <div class="tab-pane fade" id="v-pills-profile1" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                                <!-- List group with active and disabled items -->
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">Color de Ojos: </li>
                                                                    <li class="list-group-item">Color de Piel: </li>
                                                                    <li class="list-group-item">Color de cabello: </li>
                                                                </ul><!-- End Clean list group -->
                                                            </div>
                                                            <div class="tab-pane fade" id="v-pills-messages1" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                                <a href="@Url.Action("CrearEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Vertical Pills Tabs -->
                                                </div>
                                                <div class="col-4">
                                                    <br />
                                                    <a href="@Url.Action("CrearEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Card with an image on left -->
                            <!-- Card with an image on left -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-2">
                                        <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <span class="badge rounded-pill bg-danger">60% Coincidencias</span>

                                            <div class="row mt-2">
                                                <div class="col-8">
                                                    <!-- Vertical Pills Tabs -->
                                                    <div class="d-flex align-items-start">
                                                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home2" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile2" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Caracteristicas</button>
                                                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages2" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Emparejar</button>
                                                        </div>
                                                        <div class="tab-content" id="v-pills-tabContent">
                                                            <div class="tab-pane fade show active" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                <!-- List group with active and disabled items -->
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">Nombre: Alex Games</li>
                                                                    <li class="list-group-item">Edad: 28 años</li>
                                                                    <li class="list-group-item">Hondureña</li>
                                                                </ul><!-- End Clean list group -->
                                                            </div>
                                                            <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                                <!-- List group with active and disabled items -->
                                                                <ul class="list-group list-group-flush">
                                                                    <li class="list-group-item">Color de Ojos: </li>
                                                                    <li class="list-group-item">Color de Piel: </li>
                                                                    <li class="list-group-item">Color de cabello: </li>
                                                                </ul><!-- End Clean list group -->
                                                            </div>
                                                            <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                                <a href="@Url.Action("CrearEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Vertical Pills Tabs -->
                                                </div>
                                                <div class="col-4">
                                                    <br />
                                                    <a href="@Url.Action("CrearEmparejamiento", "ConsolidacionFamiliar")" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Card with an image on left -->
                        </div>
                        <div class="tab-pane fade pt-5" id="Historico">
                            <!-- Right side columns -->
                            <div>

                                <!-- Recent Activity -->
                                <div class="card">
                                    @*<div class="filter">
                                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            <li class="dropdown-header text-start">
                                                <h6>Filter</h6>
                                            </li>

                                            <li><a class="dropdown-item" href="#">Today</a></li>
                                            <li><a class="dropdown-item" href="#">This Month</a></li>
                                            <li><a class="dropdown-item" href="#">This Year</a></li>
                                        </ul>
                                    </div>*@

                                    <div class="card-body">
                                        <h5 class="card-title">Match <span>| Historico</span></h5>

                                        <div class="activity">

                                            <div class="activity-item d-flex">
                                                <div class="activite-label">32 min</div>
                                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                                <div class="activity-content">
                                                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                                                </div>
                                            </div><!-- End activity item-->

                                            <div class="activity-item d-flex">
                                                <div class="activite-label">56 min</div>
                                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                                <div class="activity-content">
                                                    Voluptatem blanditiis blanditiis eveniet
                                                </div>
                                            </div><!-- End activity item-->

                                            <div class="activity-item d-flex">
                                                <div class="activite-label">2 hrs</div>
                                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                                <div class="activity-content">
                                                    Voluptates corrupti molestias voluptatem
                                                </div>
                                            </div><!-- End activity item-->

                                            <div class="activity-item d-flex">
                                                <div class="activite-label">1 day</div>
                                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                                <div class="activity-content">
                                                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                                                </div>
                                            </div><!-- End activity item-->

                                            <div class="activity-item d-flex">
                                                <div class="activite-label">2 days</div>
                                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                                <div class="activity-content">
                                                    Est sit eum reiciendis exercitationem
                                                </div>
                                            </div><!-- End activity item-->

                                            <div class="activity-item d-flex">
                                                <div class="activite-label">4 weeks</div>
                                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                                <div class="activity-content">
                                                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                                </div>
                                            </div><!-- End activity item-->

                                        </div>

                                    </div>
                                </div><!-- End Recent Activity -->





                            </div><!-- End Right side columns -->
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>
<script>
        var windowObjectReference = null; // global variable
        var window_left = (screen.width - ancho_ventana - 12) / 2;
        var window_top = (screen.height - alto_ventana - 57) / 2;

        function showAsReservation(url){
           if(windowObjectReference == null || windowObjectReference.closed){
                windowObjectReference = window.open(url,"_blank","toolbar=no,scrollbars=no, resizable=no,top=(screen.height - alto_ventana - 57) / 2, left=(screen.width - ancho_ventana - 12) / 2, width=700, height=500");
              }
              else
              {
                windowObjectReference.focus();
              };
            windowObjectReference.focus();
        }
</script>

