@model Dinaf.Sismo.Models.ExpedienteNnaViewModel

@{
    ViewBag.title = $"Detalle de NNA en Estado de Adoptabilidad";
}
<section class="section profile">

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="@(Model.ExpedienteNna.DetalleNna.FotoPerfil is null ? "/img/userrrr.jfif" : "/ProfilePics/" + Model.ExpedienteNna.DetalleNna.FotoPerfil)" alt="Profile" class="rounded-circle" height="120">
                    <button onclick="showAsReservation('@Url.Action("Index" , "Camara", new {personaId = Model.ExpedienteNna.DetalleNna.Id})'); return false;">Agregar Foto</button>
                    <h2>@Model.ExpedienteNna.DetalleNna.NombreCorto</h2>
                    <h3>@Model.ExpedienteNna.DetalleNna.Ocupacion</h3>
                    <div class="social-links mt-2">
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nombre Completo</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.Nombre</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Identidad</b></div>
                            <div class="col-lg-12 col-md-8">0801-1977-07557</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Fecha de Nacimiento</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.FechaNacimiento</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Edad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.ExpedienteNna.DetalleNna.Edad Años</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nacionalidad</b></div>
                            <div class="col-lg-12 col-md-8">@(Model.ExpedienteNna.DetalleNna.Nacionalidad == "HN" ? "Hondureño" : Model.ExpedienteNna.DetalleNna.Nacionalidad)</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Genero</b></div>
                            <div class="col-lg-12 col-md-8">@(Model.ExpedienteNna.DetalleNna.Genero == "M" ? "Masculino" : "Femenino")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Información General</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Vulneraciones</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-protection">Medidas de Protección</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Nucleo Familiar</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-match">Emparejamiento</button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.ExpedienteNna.NumeroExpediente</span>
                            </p>
                            <h5 class="card-title">Detalles</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Oficial Jurídico</div>
                                <div class="col-lg-9 col-md-8">Carlos Garcia Bustillo</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ciudad</div>
                                <div class="col-lg-9 col-md-8">Tegucigalpa</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Oficina Regional</div>
                                <div class="col-lg-9 col-md-8">Nombre de la oficina regional</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Medida de Protección</div>
                                <div class="col-lg-9 col-md-8">@(Model.MedidasProteccion.FirstOrDefault() is null ? string.Empty : Model.MedidasProteccion.First().TipoGestion)</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Creación del Expediente</div>
                                <div class="col-lg-9 col-md-8">@Model.ExpedienteNna.FechaCreacion</div>
                            </div>
                            <form method="post" action="@Url.Action("AgregarCaracteristicas", "ExpedientesNna", new { numeroExpediente = Model.ExpedienteNna.NumeroExpediente })">
                                <input type="hidden" value="@Model.ExpedienteNna.Id" name="Persona" />
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Raza</div>
                                    <div class="col-lg-9 col-md-8">
                                        <div class="col-sm-4">
                                            <select class="form-select" name="Raza">
                                                <option>seleccione una opción</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.Raza == "Mestizo")" value="Mestizo">Mestizo</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.Raza == "Indigena")" value="Indigena">Indigena</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.Raza == "Afrodescendiente")" value="Afrodescendiente">Afrodescendiente</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.Raza == "Blanco")" value="Blanco">Blanco</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.Raza == "Asiatico")" value="Asiatico">Asiatico</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Color de Cabello</div>
                                    <div class="col-lg-9 col-md-8">
                                        <div class="col-sm-4">
                                            <select class="form-select" name="ColorCabello">
                                                <option>seleccione una opción</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorCabello == "Negro")" value="Negro">Negro</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorCabello == "Castaño")" value="Castaño">Castaño</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorCabello == "Rubio")" value="Rubio">Rubio</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorCabello == "Pelirrojo")" value="Pelirrojo">Pelirrojo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Color de Piel</div>
                                    <div class="col-lg-9 col-md-8">
                                        <div class="col-sm-4">
                                            <select class="form-select" name="ColorPiel">
                                                <option>seleccione una opción</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorPiel == "Clara")" value="Clara">Clara</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorPiel == "Oscura")" value="Oscura">Oscura</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorPiel == "Intermedia")" value="Intermedia">Intermedia</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Color de Ojos</div>
                                    <div class="col-lg-9 col-md-8">
                                        <div class="col-sm-4">
                                            <select class="form-select" name="ColorOjos">
                                                <option>seleccione una opción</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorOjos == "Café")" value="Café">Café</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorOjos == "Ámbar")" value="Ámbar">Ámbar</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorOjos == "Avellana")" value="Avellana">Avellana</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorOjos == "Verde")" value="Verde">Verde</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorOjos == "Azul")" value="Azul">Azul</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.ColorOjos == "Otro")" value="Otro">Otro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Condicion Medica</div>
                                    <div class="col-lg-9 col-md-8">
                                        <div class="col-sm-4">
                                            <select class="form-select" name="CondicionMedica">
                                                <option>seleccione una opción</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.CondicionMedica == "Ninguna")" value="Ninguna">Ninguna</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.CondicionMedica == "Neurologica")" value="Neurologica">Neurologica</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.CondicionMedica == "Fisica")" value="">Fisica</option>
                                                <option selected="@(Model.ExpedienteNna.DetalleNna.CondicionMedica == "Psicologica")" value="">Psicologica</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-primary">Guardar</button>
                            </form>
                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <!-- Default Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fecha de Creacion</th>
                                                <th scope="col">Tipo Vulneración</th>
                                                <th scope="col">Sub-Tipo Vulneración</th>
                                                <th scope="col">Articulo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var vulneracion in Model.Vulneraciones)
                                            {
                                                <tr>
                                                    <th>@vulneracion.FechaCreacion</th>
                                                    <td>@vulneracion.TipoVulneracion</td>
                                                    <td>@vulneracion.SubTipoVulneracion</td>
                                                    <td>@vulneracion.Articulo</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                        </div>

                        <div class="tab-pane fade pt-3" id="profile-protection">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <br />
                            <!-- Default Card -->
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Custodio</th>
                                                <th scope="col">Fecha Inicio</th>
                                                <th scope="col">Referencias</th>
                                                <th scope="col">Gestion</th>
                                                <th scope="col">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var medidaProteccion in Model.MedidasProteccion)
                                            {
                                                <tr>
                                                    <td>@medidaProteccion.TipoCustodio</td>
                                                    <td>@medidaProteccion.FechaInicio</td>
                                                    <td>@medidaProteccion.Referencias</td>
                                                    <td>@medidaProteccion.TipoGestion</td>
                                                    <td>@medidaProteccion.Estado</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                        </div>
                        <div class="tab-pane fade pt-3" id="profile-settings">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            <!-- Default Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Edad</th>
                                        <th scope="col">Parentesco</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var familiar in Model.Familiares)
                                    {
                                        <tr>
                                            <td>@familiar.NombreCorto</td>
                                            <td>@familiar.Edad</td>
                                            <td>@familiar.TipoParentesco</td>
                                            <td>@familiar.Estado</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- End Default Table Example -->
                        </div>
                        <div class="tab-pane fade pt-3" id="profile-match">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span>
                            </p>
                            
                            @foreach (var PreEmparejamiento in Model.PreEmparejamientos)
                            {
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-2">
                                            <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <span class="badge rounded-pill bg-success">@PreEmparejamiento.PorcetajeCoincidencia % coincidencia</span>
                                                <div class="row mt-2">
                                                    <div class="col-8">
                                                        <!-- Vertical Pills Tabs -->
                                                        <div class="d-flex align-items-start">
                                                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                                            </div>
                                                            <div class="tab-content" id="v-pills-tabContent">
                                                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                    <!-- List group with active and disabled items -->
                                                                    <ul class="list-group list-group-flush">
                                                                        <li class="list-group-item">Nombres: @PreEmparejamiento.Nombres</li>
                                                                        <li class="list-group-item">Fecha Creación: @PreEmparejamiento.FechaCreacion</li>
                                                                        <li class="list-group-item">Tipo Solicitud: @PreEmparejamiento.TipoSolicitud</li>
                                                                    </ul><!-- End Clean list group -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Vertical Pills Tabs -->
                                                    </div>
                                                    <div class="col-4">
                                                        <br />
                                                        <a href="@Url.Action("Create", "Emparejamientos", new { expedienteNna = @Model.ExpedienteNna.NumeroExpediente, solicitudAdopcion = @PreEmparejamiento.NumeroExpediente })" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            }
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>
<script>
        var windowObjectReference = null; // global variable
        var window_left = (screen.width - ancho_ventana - 12) / 2;
        var window_top = (screen.height - alto_ventana - 57) / 2;

        function showAsReservation(url){
           if(windowObjectReference == null || windowObjectReference.closed){
                windowObjectReference = window.open(url,"_blank","toolbar=no,scrollbars=no, resizable=no,top=(screen.height - alto_ventana - 57) / 2, left=(screen.width - ancho_ventana - 12) / 2, width=700, height=500");
              }
              else
              {
                windowObjectReference.focus();
              };
            windowObjectReference.focus();
        }
</script>

