@{
}

            <table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Remitente</th>
            <th scope="col">Asunto</th>
            <th scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><a href="@Url.Action("BuzonDetails", "Buzon")">Brandon Jacob</a></th>
            <td>Importante</td>
            <td>12 de Enero 2022</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("BuzonDetails", "Buzon")">Bridie Kessler</a></th>
            <td>Visita Programada</td>
            <td>21 de Enero 2022</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("BuzonDetails", "Buzon")">Ashleigh Langosh</a></th>
            <td>Adelanto de Reunión</td>
            <td>14 de Febrer0 2022</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("BuzonDetails", "Buzon")">Angus Grady</a></th>
            <td>Importante</td>
            <td>22 de Febrer0 2022</td>
        </tr>
        <tr>
            <th><a href="@Url.Action("BuzonDetails", "Buzon")">Raheem Lehner</a></th>
            <td>Aviso de Denuncia</td>
            <td>1 de Marzo 2022</td>
        </tr>
    </tbody>
</table>

