@model Dinaf.Sismo.Application.ConsolidacionFamiliar.Emparejamientos.DTOs.EmparejamientoDto

<section class="section profile">

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="~/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <h2>Juan Canales</h2>
                    <div class="social-links mt-2">
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nombre Completo</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.NombreCompleto</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>identidad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.NumeroIdentidad</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Fecha de Nacimiento</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.FechaNacimiento</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Edad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.Edad Años</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Nacionalidad</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.Nacionalidad</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Genero</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.Genero</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Telefono</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.Telefono</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-4 label "><b>Email</b></div>
                            <div class="col-lg-12 col-md-8">@Model.DatosNna.Email</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Información General</button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <p>
                                <span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. DINAF-2018-11</span>
                            </p>
                            <!-- Default Table -->
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">Numero de Expediente</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col"></th>
                                </thead>
                                <tbody>
                                    @foreach (var detalle in Model.DatosEmparejamiento)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("SeguimientosPorEmparejamiento", "Emparejamientos", new { emparejamientoId = detalle.Id })">@detalle.NumeroSolicitud</a></td>
                                            <td>@detalle.Etapa</td>
                                            <th><a type="button" class="btn btn-outline-primary" href="@Url.Action("NextStep", "Emparejamientos", new { Id = detalle.Id, expedienteNna = Model.DatosNna.NumeroExpediente })">Enviar a Comite de Asignacion</a></th>
                                        </tr>   
                                    }
                                </tbody>
                            </table>
                            <!-- End Default Table Example -->
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>