@model Dinaf.Sismo.Models.ExpedienteViewModel

@{
    ViewBag.title = "Detalle de Instrumento";
}
<section class="section profile">

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <!-- Default Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered" id="profiles" role="tablist">
                        @for (int i = 0; i < Model.Personas.Count; i++)
                        {
                            <li class="nav-item" role="presentation">
                                <button class='nav-link @(i == 0 ? "active" : "")' id="@Model.Personas[i].Id" data-bs-toggle="tab" data-bs-target="#content_@Model.Personas[i].Id" type="button" role="tab" aria-controls="content_@Model.Personas[i].Id" aria-selected="true">@Model.Personas[i].NombreCorto</button>
                            </li>
                        }
                    </ul>

                    <div class="tab-content pt-2" id="profilesContent">
                        @for (int i = 0; i < Model.Personas.Count; i++)
                        {
                            <div class='tab-pane fade @(i == 0 ? "show active" : "")' id="content_@Model.Personas[i].Id" role="tabpanel" aria-labelledby="@Model.Personas[i].Id">
                                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                    <img src="/img/userrrr.jfif" alt="Profile" class="rounded-circle">
                                    <h2>@Model.Personas[i].NombreCorto</h2>
                                    <h3>@Model.Personas[i].Ocupacion</h3>
                                    <div class="social-links mt-2">
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Nombre Completo</b></div>
                                            <div class="col-lg-12 col-md-8">@Model.Personas[i].NombreCompleto</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>identidad</b></div>
                                            <div class="col-lg-12 col-md-8">0801-1977-07557</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Fecha de Nacimiento</b></div>
                                            <div class="col-lg-12 col-md-8">@Model.Personas[i].FechaNacimiento</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Edad</b></div>
                                            <div class="col-lg-12 col-md-8">@Model.Personas[i].Edad Años</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Nacionalidad</b></div>
                                            <div class="col-lg-12 col-md-8">@Model.Personas[i].Nacionalidad</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Genero</b></div>
                                            <div class="col-lg-12 col-md-8">@Model.Personas[i].Genero</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Telefono</b></div>
                                            <div class="col-lg-12 col-md-8">(+504)9999-9999</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9 col-md-4 label "><b>Email</b></div>
                                            <div class="col-lg-12 col-md-8">CarlosG@hotmail.com</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- End Default Tabs -->
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Información General</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-emp">Acciones</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Vulneraciones">Vulneraciones</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Acciones">Historico</button>
                        </li>
                    </ul>

                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <p>
                                @*<span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. @Model.SolicitudAdopcion.NumeroExpediente</span>*@
                            </p>
                            <h5 class="card-title">Detalles</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Numero de Instrumento</div>
                                <div class="col-lg-9 col-md-8">@Model.Expediente.NumeroExpediente</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Fecha Creación</div>
                                <div class="col-lg-9 col-md-8">@Model.Expediente.FechaCreacion</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Creado Por</div>
                                <div class="col-lg-9 col-md-8">@Model.Expediente.Usuario</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Tipo de Instrumento</div>
                                <div class="col-lg-9 col-md-8">@Model.Expediente.TipoInstrumento</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Narración de los Hechos</div>
                                <div class="col-lg-9 col-md-8">
                                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Notas</div>
                                <div class="col-lg-9 col-md-8">
                                    is sith desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                </div>
                            </div>
                        </div>
                    

                    <div class="tab-pane fade pt-3" id="profile-emp">
                        @*<p><span class="badge bg-primary"><i class="bi bi-collection me-1"></i>EXP. Expediente.NumeroExpediente</span></p>*@

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Crear Persona
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Es NNA:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selectekd>Seleccione un elemento de la lista</option>
                                                        <option value="nna">Sí</option>
                                                        <option value="nonna">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Genero:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="M">Masculino</option>
                                                        <option value="F">Femenino</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Nacionalidad:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="H">Hondureña</option>
                                                        <option value="I">Otra Nacionalidad</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Vinculacion de la Persona con el Caso:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="1">Sospechoso</option>
                                                        <option value="2">Denunciante</option>
                                                        <option value="2">Afectado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Fecha de Nacimiento:</label>
                                                <input type="Date" class="form-control" id="inputNanme4">
                                            </div>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Tipo de Documento:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="1">Tarjeta de Identidad</option>
                                                        <option value="2">Pasaporte</option>
                                                        <option value="2">Ninguno de los anteriores</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Numero de Documento:</label>
                                                <input type="text" class="form-control" id="inputNanme4">
                                            </div>

                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Seleccione el tipo:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="1">Presencial</option>
                                                        <option value="2">Teléfonica</option>
                                                        <option value="3">Anónima</option>
                                                        <option value="3">Medios de Comunicación Social</option>
                                                        <option value="3">Derivación</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Indique el año en que se levanto el expediente:</label>
                                                <input type="number" class="form-control" id="inputNanme4">
                                            </div>

                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Vincular número de expediente anterior:</label>
                                                <input type="text" class="form-control" id="inputNanme4">
                                            </div>

                                            <br />

                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar</a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Vincular Persona
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Seleccione el tipo:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="1">Edgar Salgado</option>
                                                        <option value="2">Sergio Ramos</option>
                                                        <option value="3">Cesar Guifarro</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar </a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Crear Ticket
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Asunto:</label>
                                                <input type="text" class="form-control" id="inputNanme4">
                                            </div>

                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Ticket:</label>
                                                <textarea class="form-control" style="height: 100px"></textarea>
                                            </div>

                                            <br />

                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar</a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                        Agregar Narración de Hechos
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Fecha:</label>
                                                <input type="Date" class="form-control" id="inputNanme4">
                                            </div>

                                            <div class="col-8">
                                                <label for="inputNanme4" class="form-label">Ticket:</label>
                                                <textarea class="form-control" style="height: 100px"></textarea>
                                            </div>

                                            <br />

                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar</a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                        Transferir
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">

                                        <form>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Seleccione el tipo:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="1">Edgar Salgado</option>
                                                        <option value="2">Sergio Ramos</option>
                                                        <option value="3">Cesar Guifarro</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar </a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                        Asignar
                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">

                                        <form>
                                            <div class="col-12">
                                                <label for="inputNanme4" class="form-label">Seleccione el tipo:</label>
                                                <div class="col-sm-8">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Seleccione un elemento de la lista</option>
                                                        <option value="1">Edgar Salgado</option>
                                                        <option value="2">Sergio Ramos</option>
                                                        <option value="3">Cesar Guifarro</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar </a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                        Acta de Comparecencia
                                    </button>
                                </h2>
                                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                        Convertir a Expediente
                                    </button>
                                </h2>
                                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="col-8">
                                                <div style="text-align:end ">
                                                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                                                    <a href="@Url.Action("Details", "ProteccionDerechos")" type="button" class="btn btn-primary">Agregar </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade pt-4" id="Vulneraciones">
                        <div style="text-align:end ">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Default Table -->
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fecha de Creacion</th>
                                                <th scope="col">Tipo Vulneración</th>
                                                <th scope="col">Sub-Tipo Vulneración</th>
                                                <th scope="col">Articulo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Exp-DINAF-2018-8</th>
                                                <td>Presencial</td>
                                                <td>2019</td>
                                                <td>Brandon Jacob</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Default Table Example -->
                                </div><!-- End Default Card -->
                            </div>
                            <a href="@Url.Action("CreateVulneracion", "Vulneraciones")" type="button" class="btn btn-primary">Agregar Vulneración</a>
                        </div>
                    </div>
                    <div class="tab-pane fade pt-5" id="Acciones">
                    </div>
                </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>

</section>