@model IList<Dinaf.Sismo.Application.ProteccionDerechos.Expedientes.DTOs.ExpedienteDto>

@{
    ViewBag.title = "Listado de instrumentos";
}

<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Numero</th>
            <th scope="col">Fecha Creación</th>
            <th scope="col">Unidad</th>
            <th scope="col">Usuario asignado</th>
            <th scope="col">Usuario Creación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expediente in Model)
        {
            <tr>
                <th><a href="@Url.Action("Details", "ProteccionDerechos", new { numeroExpediente = expediente.NumeroExpediente })">@expediente.NumeroExpediente</a></th>
                <td>@expediente.FechaCreacion</td>
                <td>@expediente.Unidad</td>
                <td>@expediente.UsusarioAsignado</td>
                <td>@expediente.Usuario</td>
            </tr>
        }
    </tbody>
</table>
<div style="text-align:end ">
    <a href="@Url.Action("Create", "Expedientes")" type="button" class="btn btn-primary">Agregar @ViewBag.TipoInstrumento</a>
</div>