@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">Numero de Expediente</th>
            <th scope="col">Creacion</th>
            <th scope="col">Actualmente</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Representante Legal</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Exp-DINAF-CF2021-20051</th>
            <td>14/09/2010</td>
            <td>Oficina Regional Centro Oriente</td>
            <td>Alma Eliuth Ponce</td>
            <td>Denis Ariel Diaz</td>
            <td>Sowel Alejandro Mejia</td>
            <td><a href="@Url.Action("Index","Personas","Details")" type="button" class="btn btn-outline-primary btn-sm">Detalles</a></td>
        </tr>
        <tr>
            <th scope="row">Exp-DINAF-CF2021-287436</th>
            <td>14/10/2012</td>
            <td>3Oficina Regional Centro Oriente</td>
            <td>Silvia Johana Tercero</td>
            <td>Angel Daniel Doblado</td>
            <td>Sowel Alejandro Mejia</td>
            <td><a href="@Url.Action("Index","Personas","Details")" type="button" class="btn btn-outline-primary btn-sm">Detalles</a></td>
        </tr>
        <tr>
            <th scope="row">Exp-DINAF-CF2021-23455</th>
            <td>29/10/2022</td>
            <td>Oficina Regional Centro Oriente</td>
            <td>Rosa Miriam Ponce</td>
            <td>Ruben Alejandro Castro</td>
            <td>Sowel Alejandro Mejia</td>
            <td><a href="@Url.Action("Index","Personas","Details")" type="button" class="btn btn-outline-primary btn-sm">Detalles</a></td>
        </tr>
        <tr>
            <th scope="row">Exp-DINAF-CF2021-20234</th>
            <td>22/09/2015</td>
            <td>8Oficina Regional Centro Oriente</td>
            <td>Yanory Jareh Ruiz</td>
            <td>Porfirio Diaz</td>
            <td>Sowel Alejandro Mejia</td>
            <td><a href="@Url.Action("Index","Personas","Details")?id=5" type="button" class="btn btn-outline-primary btn-sm">Detalles</a></td>
        </tr>
        <tr>
            <th scope="row" Exp-DINAF-CF2021-20051"</th>
            <td>01/06/2021</td>
            <td>Oficina Regional Centro Oriente</td>
            <td>Zohary Suyapa Mendez</td>
            <td>Angel Augusto DIaz</td>
            <td>Sowel Alejandro Mejia</td>
            <td><a href="@Url.Action("Index","Personas","Details")" type="button" action="sutmid" class="btn btn-outline-primary btn-sm">Detalles</a></td>
        </tr>
    </tbody>
</table>