@model IList<Dinaf.Sismo.Application.ConsolidacionFamiliar.Emparejamientos.DTOs.PreEmparejamientoNnaDto>

@foreach (var preEmparejamiento in Model)
{
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="~/img/userrrr.jfif" class="img-fluid rounded-start" alt="..." height="40%" width="40%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <span class="badge rounded-pill bg-success">@preEmparejamiento.PorcetajeCoincidencia % coincidencia</span>
                    <div class="row mt-2">
                        <div class="col-8">
                            <div class="d-flex align-items-start">
                                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">General</button>
                                </div>
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Nombre: @preEmparejamiento.Nombre</li>
                                            <li class="list-group-item">Genero: @preEmparejamiento.Genero</li>
                                            <li class="list-group-item">Edad: @preEmparejamiento.Edad años</li>
                                            <li class="list-group-item">Condición Medica: @preEmparejamiento.CondicionMedica</li>
                                            <li class="list-group-item">Hermanos: @preEmparejamiento.Hermanos</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">
                            <br />
                            <a href="@Url.Action("Create", "Emparejamientos", new { expedienteNna = preEmparejamiento.NumeroExpediente, solicitudAdopcion = ViewBag.NumeroExpediente })" type="button" class="btn btn-outline-primary">Pre Emparejamiento</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
}